# POSTGRES_URL:"postgresql://[user]:[password]@[host]:[port]/[database]?sslmode=[mode]"
# POSTGRES_USER:
# POSTGERS_PASSWORD:
# POSTGRES_DB:
# POSTGRES_PORT:
# POSTGRES_SSL_MODE:

# APP_PORT:
# APP_HOST:
# APP_NAME:

# SECRET: