# DATABASE_URL:"postgresql://[user]:[password]@[host]:[port]/[database]?sslmode=[mode]&timezone=[timezone]"
# DATABASE_HOST:
# DATABASE_USER:
# DATABASE_PASSWORD:
# DATABASE_DB:
# DATABASE_PORT:
# DATABASE_SSL_MODE:

# TIMEZONE:

# APP_PORT:
# APP_HOST:
# APP_NAME:

# SECRET: